extends ../me

block subcontent
  .row
    .small-12.columns
      h2 My Accomplishments
      table(width='100%')
        thead
          tr
            th Title
            th Description
            th Del
        tbody
          if accomplishments.length == 0
            tr
              td(colspan='3', class='text-center') No Accomplishments
          else
            each accomplishment in accomplishments
              tr
                td #{accomplishment.title}
                td #{accomplishment.description}
                td
                  a(href="/me/accomplishments/#{accomplishment.id}/delete") &#215;
    .small-12.columns
      .button.right(data-add) Add Accomplishment
      form(method='post').hide
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            label(for='title') Title
            input(type='text', id='title', name='title')
        .row
          .small-12.columns
            label(for='description') Description
            textarea(id='description', name='des', cols='4')
        .row
          .small-12.columns
            input(type='submit', class='button expand', value='Add Accomplishment')