extends ../me

block subcontent
  .row
    .small-12.columns
      table(width='100%')
        thead
          tr
            th School
            th Location
            th From Date
            th To Date
            th Description
            th Del
        tbody
          if education.length == 0
            tr
              td(colspan='6', class='text-center') No Education
          else
            each skool in education
              tr
                td #{skool.school}
                td #{skool.location}
                td #{skool.fromDate}
                td #{skool.toDate}
                td #{skool.description}
                td
                  a(href="/me/education/#{skool.id}/delete") &#215;
    .small-12.columns
      .button.right(data-add) Add School
      form(method='post').hide
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            .row
              .small-6.columns
                label(for='school') School
                input(type='text', id='school', name='school')
              .small-6.columns
                label(for='location') Location
                input(type='text', id='location', name='locale')
            .row
              .small-6.columns
                label(for='fromDate') From Date
                input(type='text', id='fromDate', name='fromDate')
              .small-6.columns
                label(for='toDate') To Date
                input(type='text', id='toDate', name='toDate')
            .row
              .small-12.columns
                label(for='description') Description
                textarea(id='description', name='des', cols='4')
            .row
              .small-12.columns
                input(type='submit', class='button expand', value='Add Education')