extends ../me

block subcontent
  .row
    .small-12.columns
      table(width='100%')
        thead
          tr
            th Company
            th Position
            th fromDate
            th toDate
            th Description
            th Del
        tbody
          if experiences.length == 0
            tr
              td(colspan='2', class='text-center') No Experiences
          else
            each experience in experiences
              tr
                td #{experience.company}
                td #{experience.position}
                td #{experience.fromDate}
                td #{experience.toDate}
                td #{experience.description}
                td
                  a(href="/me/experience/#{experience.id}/delete") &#215;
    .small-12.columns
      .button.right(data-add) Add Experience
      form(method='post').hide
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            .row
              .small-6.columns
                label(for='company') Company
                input(type='text', id='company', name='company')
              .small-6.columns
                label(for='position') Position
                input(type='text', id='position', name='position')
            .row
              .small-6.columns
                label(for='fromDate') From Date
                input(type='text', id='fromDate', name='fromDate')
              .small-6.columns
                label(for='toDate') To Date
                input(type='text', id='toDate', name='toDate')
            .row
              .small-12.columns
                label(for='description') Description
                textarea(id='description', name='des', cols='4')
            .row
              .small-12.columns
                input(type='submit', class='button expand', value='Add Experience')