extends ../me

block subcontent
  .row
    .small-12.columns
      table(width='100%')
        thead
          tr
            th Title
            th Description
            th Link
            th Del
        tbody
          if features.length == 0
            tr
              td(colspan='2', class='text-center') No Features
          else
            each feature in features
              tr
                td #{feature.title}
                td #{feature.description}
                td #{feature.link}
                td
                  a(href="/me/featured/#{feature.id}/delete") &#215;
    .small-12.columns
      .button.right(data-add) Add Featured Work
      form(method='post').hide
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            label(for='title') Title
            input(type='text', id='title', name='title')
        .row
          .small-12.columns
            label(for='link') Link
            input(type='url', id='link', name='link')
        .row
          .small-12.columns
            label(for='description') Description
            textarea(id='description', name='des', cols='4')
        .row
          .small-12.columns
            input(type='submit', class='button expand', value='Add Featured Work')