extends ../me

block subcontent
  .row
    .small-12.columns
      table(width='100%')
        thead
          tr
            th Title
            th Amount
            th Del
        tbody
          if interests.length == 0
            tr
              td(colspan='2', class='text-center') No Interests
          else
            each interest in interests
              tr
                td #{interest.title}
                td #{interest.amount}
                td
                  a(href="/me/interests/#{interest.id}/delete") &#215;
    .small-12.columns
      .button.right(data-add) Add Interest
      form(method='post').hide
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            .row
              .small-6.columns
                label(for='title') Title
                input(type='text', id='title', name='title')
              .small-6.columns
                label(for='amount') Amount
                input(type='number', id='amount', name='amount', min='1', max='10')
            .row
              .small-12.columns
                input(type='submit', class='button expand', value='Add Interest')