extends ../me

block subcontent
  .row
    .small-12.columns
      h2 My Messages
        table(width='100%')
          thead
            tr
              th Email
              th Name
              th Message
              th Del
          tbody
            if messages.length == 0
              tr
                td(colspan='4', class='text-center') No Message
            else
              each message in messages
                tr
                  td #{message.from_email}
                  td #{message.from_name}
                  td #{message.message}
                  td
                    a(href="/me/messages/#{message.id}/delete") &#215;