extends ../me

block subcontent
  .row
    .small-12.columns
      table(width='100%')
        thead
          tr
            th Skill
            th Percent
            th Del
        tbody
          if skills.length == 0
            tr
              td(colspan='2', class='text-center') No Skills
          else
            each skill in skills
              tr
                td #{skill.skill}
                td #{skill.percent}
                td
                  a(href="/me/skills/#{skill.id}/delete") &#215;
    .small-12.columns
      .button.right(data-add) Add Skill
      form(method='post').hide
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            .row
              .small-6.columns
                label(for='skill') Skill Name
                input(type='text', id='skill', name='skill')
              .small-6.columns
                label(for='percent') Percent
                input(type='number', id='percent', name='percent', min='1', max='99')
            .row
              .small-12.columns
                input(type='submit', class='button expand', value='Add Skill')