#flash
  if messages
    if messages.errors
      each error in messages.errors
        .alert-box.alert(data-alert)
          | #{error.msg}
          a.close &#215;
    if messages.success
      each success in messages.success
        .alert-box(data-alert)
          | #{success.msg}
          a.close &#215;