.row
  .small-12.columns 
    #menu
      a(href='/',class=title=='Home'?'active':undefined) Home
      a(href='/blog',class=(title=='Blog' || activeBlogLink)?'active':undefined) Blog
      a(href='/contact',class=title=='Contact'?'active':undefined) Contact Me