nav.top-bar(data-topbar)
  ul.title-area
    li.name
      h1: a(href="#") Tyler Grant
    li.toggle-topbar.menu-icon
      a(href="#") Menu
  section.top-bar-section
    ul.right
      li(class=title=='Home'?'active':undefined)
        a(href="/") Home
      li.has-dropdown(class=title=='Control Panel'?'active':undefined)
        a(href='/me') Me
        ul.dropdown
          li(class=title=='My Skills'?'active':undefined)
            a(href='/me/skills') Skills
          li(class=title=='My Experience'?'active':undefined)
            a(href='/me/experience') Experience
          li(class=title=='My Featured Work'?'active':undefined)
            a(href='/me/featured') Featured Work
          li(class=title=='My Interests'?'active':undefined)
            a(href='/me/interests') Interests
          li(class=title=='My Education'?'active':undefined)
            a(href='/me/education') Education
          li(class=title=='My Accomplishments'?'active':undefined)
            a(href='/me/accomplishments') Accomplishments
      li(class=title=='My Messages'?'active':undefined)
        a(href='/me/messages') Messages
      li(class=title=='Add Post'?'active':undefined)
        a(href='/blog/add') Add Post
      li
        a(href='/logout') Logout