<form ng-submit="decrypt()">
  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-12 columns">
          <label>Passphrase</label>
          <input type='password' ng-model='passphrase' require />
        </div>
        <div class="small-12 columns">
          <label>Private Key</label>
          <textarea ng-model='privateKey' rows='20'></textarea>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-12 columns">
          <label>Encrypted Message</label>
          <textarea ng-model='message' rows='20'></textarea>
        </div>
        <div class="small-12 columns">
          <input type='submit' class='button expand' value='Decrypt'/>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row" ng-class="{ hide: !data}">
  <div class="small-12 columns">
    <p>Encrypted Message</p>
    <textarea rows="10">{{data.result.message}}</textarea>
  </div>
  <div class="small-12 columns" ng-class="{ hide: !data.result.fingerprint }">
    <p>Signed by PGP Fingerprint</p>
    <textarea rows="10">{{data.result.fingerprint}}</textarea>
  </div>
</div>