<form ng-submit="encrypt()">
  <div class="row">
    <div class="small-6 columns">
      <label>Recipient (Public Key)</label>
      <textarea ng-model='recipient' rows='10'></textarea>
    </div>
    <div class="small-6 columns">
      <label>Message</label>
      <textarea ng-model='message' rows='10'></textarea>
    </div>
    <div class="small-12 columns">
      <input type='checkbox' id='sign' ng-model='sign'/>
      <label for='sign'>Sign Message</label>
      
      <div class="row" ng-class="{ hide: !sign}">
        <div class="small-12 columns">
          <label>Passphrase</label>
          <input type='password' ng-model='passphrase' />
        </div>
        <div class="small-12 columns">
          <label>Private Key</label>
          <textarea ng-model='privateKey' rows='20'></textarea>
        </div>
      </div>
    </div>
    <div class="small-12 columns">
      <input type='submit' class='button expand' value='Encrypt'/>
    </div>
  </div>
</form>
<div class="row" ng-class="{ hide: !data}">
  <div class="small-12 columns">
    <p>Encrypted Message</p>
    <textarea rows="10">{{data.result}}</textarea>
  </div>
</div>