<form ng-submit="generate()">
  <div class="row">
    <div class="small-6 columns">
      <label>User</label>
      <input type='text' ng-model='user' required />
    </div>
    <div class="small-6 columns">
      <label>Passphrase</label>
      <input type='password' ng-model='passphrase' required />
    </div>
    <div class="small-6 columns">
      <label>Key Size</label>
      <input type='number' ng-model='keysize' min='1024' max='4096' step='512' />
    </div>
    <div class="small-6 columns">
      <label>Expires (0 to never expire)</label>
      <input type='number' ng-model='expires' min='0' value='0' />
    </div>
    <div class="small-12 columns">
      <input type="submit" class="button expand" value="Generate" />
    </div>
  </div>
</form>
<div class="row" ng-class="{ hide: !data}">
  <div class="small-6 columns">
    <p>Private Key</p>
    <textarea rows="10">{{data.priv}}</textarea>
  </div>
  <div class="small-6 columns">
    <p>Public Key</p>
    <textarea rows="10">{{data.pub}}</textarea>
  </div>
</div>