extends layout

block content
  include partials/flash
  .row
    .small-12.columns
      if posts
        each post in posts
          article
            h2.postLink 
              a(href='/blog/#{post.slug}', title='#{post.title}') #{post.title}
            p!= post.body
          hr
      else
        p No blog posts!