extends layout

block content
  h1.header.text-center Contact Me
  
  include partials/flash
  .row
    .medium-8.small-12.columns.medium-centered
      form(method='post')
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            label(for='email') Email
            input(type='email', id='email', name='email' required)
        .row
          .small-12.columns
            label(for='myname') Name
            input(type='text', id='myname', name='myname' required)
        .row
          .small-12.columns
            label(for='message') Sup?
            textarea(id='message', name='message' cols='5' required)
        .row
          .small-12.columns
            input(type='submit', class='button expand', value='Contact Me')
  