extend layout

block content
  h1.header.text-center Exif Viewer
  
  include partials/flash
  .row
    .small-12.medium-8.columns.medium-centered
      if exifData
        textarea(rows='20')
          | #{exifData}
      form(method='post', enctype="multipart/form-data")
        .row
          .small-12.columns
            .row
              .small-12.columns
                label(for='exifTarget')
                input(type='file', name='exif_file', id='exifTarget')
            .row
              .small-12.columns
                input(type='submit', value='View Exif', class='button expand')