extend layout

block content
  include partials/flash
  
  .row
    .small-12.medium-6.columns
      .row
        .medium-12.columns
          h3.header-3 Top Skills
          p
            each skill in skills
              span.skill #{skill.skill}
      .row
        .medium-12.columns
          h3.header-3 Experience
          each experience in experiences
            .experience
              .head 
                .company #{experience.company} : 
                .position #{experience.position} : 
              .dates
                .fromDate #{experience.fromDate} - 
                .toDate #{experience.toDate}
              .description
                p #{experience.description}
      .row
        .medium-12.columns
          h3.header-3 Featured Work
          each feature in features
            .feature
              .title #{feature.title} : 
              .link
                a(href='#{feature.link}') #{feature.link}
              .description
                p #{feature.description}
      .row
        .medium-12.columns
          h3.header-3 Interests
          ul.interest-grid
            each interest in interests
              li
                h6 #{interest.title}
                .progress-bar
                  span(style='width:#{interest.amount*10}%')
    .small-12.medium-6.columns
      .row
        .medium-12.columns
          h3.header-3 Bio
          p.
            I recently graduated with my Associates Degree in Computer Information
            Systems, and am now working at Purdue University doing various programming
            work.
          p.
            I built my first computer when I was 12 years old, and shortly after 
            I became interested in programming. Near the age of 14, I started to 
            get a better grasp on programming, which fueled my goal to become a 
            computer programmer / software engineer. I learn quickly and can 
            easily understand concepts that I am introduced to.
          p.
            I am a cheerful upbeat person, and work well with others. I am a 
            very productive worker and have the ability to multitask projects 
            while still being able to meet any deadlines.
      .row
        .medium-12.columns
          h3.header-3 Accomplishments
          each accomplish in accomplishments
            .accomplishment
              .head #{accomplish.title}
              .description
                p #{accomplish.description}
      .row
        .medium-12.columns
          h3.header-3 Education
          each skool in education
            .school
              .head 
                .name #{skool.school} : 
                .location #{skool.location} : 
              .dates
                .fromDate #{skool.fromDate} - 
                .toDate #{skool.toDate}
              .description
                p #{skool.description}
      .row
        .medium-12.columns
          h3.header-3 Concentrations
          .row.collapse
            .small-4.columns
              ul(data-pie-id='concentrations')
                li(data-value='40') Education
                li(data-value='35') Programming
                li(data-value='15') Web Development
                li(data-value='10') Web Design
            .small-8.columns
              #concentrations