doctype html
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Tyler Grant - #{title}
    if linkDepth
      - var outStr = '';
      - for (var a = 0; a < linkDepth; a++) { outStr += '../'; }
    else 
      - var outStr = '../';
    link(rel="stylesheet" href="#{outStr}css/app.css")
    link(rel="stylesheet" href="#{outStr}css/styles.css")
    link(rel="stylesheet" href="#{outStr}css/medium-editor.css")
    link(rel="stylesheet" href="#{outStr}css/themes/default.css")
    script(src="#{outStr}js/modernizr.js")
  body
    .content
      if user
        include partials/nav
      header
        hgroup.text-center
          h1.header Tyler Grant
          //h2.header-2 Developer <span>&</span> Designer
        include partials/menu
        #bar
      section.row
        .small-12.columns
          block content

    
    script(src="#{outStr}bower_components/jquery/dist/jquery.min.js")
    script(src="#{outStr}bower_components/foundation/js/foundation.min.js")
    script(src="#{outStr}bower_components/medium-editor/dist/js/medium-editor.min.js")
    script(src="#{outStr}bower_components/Snap.svg/dist/snap.svg-min.js")
    script(src="#{outStr}js/pizza.min.js")
    script(src="#{outStr}js/app.js")
    block scriptz