extends layout

block content
  h1.header.text-center Login
  
  include partials/flash
  .row
    .medium-8.small-12.columns.medium-centered
      form(method='post')
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            label(for='email') Email
            input(type='email', id='email', name='email')
        .row
          .small-12.columns
            label(for='password') Password
            input(type='password', id='password', name='password')
        .row
          .small-12.columns
            input(type='submit', class='button expand', value='Login')