doctype html
html.no-js(lang="en" ng-app="pgp")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href="/pgp")
    title Tyler Grant - #{title}
    if linkDepth
      - var outStr = '';
      - for (var a = 0; a < linkDepth; a++) { outStr += '../'; }
    else 
      - var outStr = '../';
    link(rel="stylesheet" href="#{outStr}css/app.css")
    link(rel="stylesheet" href="#{outStr}css/styles.css")
    link(rel="stylesheet" href="#{outStr}css/medium-editor.css")
    link(rel="stylesheet" href="#{outStr}css/themes/default.css")
    script(src="#{outStr}js/modernizr.js")
  body
    .content
      if user
        include partials/nav
      header(ng-controller='navController')
        hgroup.text-center
          h1.header Tyler Grant
          h2.header-2 PGP Playground
        .row
          .small-12.columns 
            #menu
              a(href='/pgp/gen', ng-class="{ active: isPath('/pgp/gen')}") Generate
              a(href='/pgp/encrypt', ng-class="{ active: isPath('/pgp/encrypt')}") Encrypt
              a(href='/pgp/decrypt', ng-class="{ active: isPath('/pgp/decrypt')}") Decrypt
        #bar
      section.row
        .small-12.columns
          include partials/flash
          section#main
            div(ng-view)

    script(src="#{outStr}bower_components/jquery/dist/jquery.min.js")
    script(src="#{outStr}bower_components/foundation/js/foundation.min.js")
    script(src="#{outStr}bower_components/angular/angular.js")
    script(src="#{outStr}bower_components/angular-route/angular-route.js")
    script(src="#{outStr}js/kbpgp-1.0.0.js")
    script(src="#{outStr}js/app.js")
    script(src='#{outStr}js/pgp.js')