extends layout

block content
  .row
    .small-12.columns
      h1 Register
      include partials/flash
      hr
      .row
        .small-10.columns.small-centered
          form(method='post')
            input(type='hidden', name='_csrf', value=token)
            .row
              .small-12.columns
                label(for='email') Email
                input(type='email', id='email', name='email')
            .row
              .small-12.columns
                label(for='password') Password
                input(type='password', id='password', name='password')
            .row
              .small-12.columns
                input(type='submit', class='button expand', value='Register')