extends ../layout

block content
  h1.header.text-center Add Post
  
  
  .row
    .medium-8.small-12.columns.medium-centered
      form(method='post')
        input(type='hidden', name='_csrf', value=token)
        .row
          .small-12.columns
            label(for='postTitle') Title
            input(type='text', id='postTitle', name='postTitle' required)
        .row
          .small-12.columns
            label(for='postSlug') Slug (Link)
            input(type='text', id='postSlug', name='postSlug' required)
        .row
          .small-12.columns
            input(type='hidden', name='postBody', value='')
            div(id="postBody")
        .row
          .small-12.columns
            input(type='submit', class='button expand', value='Add Post')