extends ../layout

block content
  .row
    .small-12.columns
      a(href="/blog").back.left-icon
        span Back
  .row
    .small-12.columns
      article
        hgroup
          h1.header #{post.title}
          - var d = new Date(post.dateCreated);
          h4.date #{d.getMonth()+"/"+d.getDate()+"/"+d.getFullYear()}
        p!= post.body